* {
  box-sizing: border-box;
}
html {
  font-family: 'Quicksand', sans-serif;
  color: #000;
}
body {
  margin: 0;
}
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}
@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.row::after {
  content: "";
  clear: both;
  display: block;
}
img {
  width: 100%;
  height: auto;
}
h1 {
  font-weight: 300;
  font-size: 3em;
}
h2 {
  font-weight: 300;
  font-size: 2em;
}
h3 {
  font-weight: 300;
  font-size: 1.5em;
}
a {
  font-weight: 300;
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.header, .header a {
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 0 #000000;
}
.top-background {
  background-color: #e91e63;
}
.repo-links {
  text-align: right;
  height: 100%;
}
.section-title {
  padding: 0 15px;
}
